<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- Indicar que queremos usar inyección con anotaciones -->
	<context:annotation-config/>
	<!-- Anotar clases. Deben estar anotadas como @Component -->
	<context:component-scan base-package="es.curso.coche"></context:component-scan>
	<!-- 
	<bean id="motorObj" class="es.curso.coche.Motor">
		<property name="tipo" value="diesel"></property>
		<property name="potencia" value="1800"></property>
	</bean>
	
	<bean id="radioObj" class="es.curso.coche.Radio">
		<property name="marca" value="Sony"></property>
	</bean>
	
	<bean id="coche" class="es.curso.coche.Coche"></bean>
	 -->
</beans>
