<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<bean id="bateria" class="es.curso.concierto.Bateria"></bean>
	 
	<bean id="guitarra" class="es.curso.concierto.Guitarra"></bean>
	
	<bean id="bajo" class="es.curso.concierto.Bajo"></bean>

	<bean id="musicoBateria" class="es.curso.concierto.Musico">
		<property name="instrumento" ref="bateria"></property>
	</bean>
	
	<bean id="musicoGuitarra" class="es.curso.concierto.Musico">
		<property name="instrumento" ref="guitarra"></property>
	</bean>
	
	<bean id="musicoBajo" class="es.curso.concierto.Musico">
		<property name="instrumento" ref="bajo"></property>
	</bean>
	
	<bean id="publico" class="es.curso.concierto.Publico"></bean>
	
	
	<aop:config>
		<aop:pointcut expression="execution(* es.curso.concierto.Concierto.actuar(..))" id="pc"/>
		<aop:aspect ref="publico">
			<aop:before method="apagarTelefonos" 
				pointcut-ref="pc"/>
			<aop:after-returning method="aplaudir" 
				pointcut-ref="pc"/>
			<aop:after-throwing method="abuchear"
				pointcut-ref="pc"/>
		</aop:aspect>
		
	
	</aop:config>
</beans>
