<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- Definir un bean dentro del contexto de Spring -->
	<bean id="obj" class="es.curso.spring.Mensaje">
		<property name="mensaje" value="Mensaje de prueba"></property>
	</bean>
</beans>
